.cover__link {
  z-index: 0;
  text-decoration: none;
}

.cover__link:hover::before {
  opacity: .8;
  transition: 0.3s;
}

.cover__link::before {
  opacity: .3;
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  content: '';
  z-index: -1;
  right: 0;
  left: 0;
  bottom: 0;
}