.lead {
    padding-bottom: 64px;
  }
  
  @media (min-width: 320px) {
    .lead {
      padding-bottom: 88px;
    }
  }
  
  @media (min-width: 768px) {
    .lead {
      padding-bottom: 92px;
    }
  }
  