.footer__links {
    margin: 0;
    padding: 0;
    flex-direction: column;
    row-gap: 32px;
    display: flex;
    list-style-type: none;
  }
  
  @media (min-width: 768px) {
    .footer__links {
      flex-direction: row;
      column-gap: 18px;
    }
  }
  
  