.footer__copyright {
    font-family: 'Inter', Arial;
    font-size: 14px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
  }
  
  @media (min-width: 768px) {
    .footer__copyright {
      line-height: 1.1;
    }
  }
  